.header {
  height: 293px;
  padding: 92px 50px 96px;
  display: grid;
  gap: 36.52px;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
}

.nav-top {
  width: 391.48px;
  height: 22px;
}

.nav-list {
  list-style-type: circle;
  list-style-position: inside;
  display: flex;
  font-size: 18px;
  line-height: 1;
}

.nav-top-list {
  gap: 13px;
  white-space: nowrap;
}

.nav-top-list-element-1 {
  list-style: none;
}

.logo-black {
  width: 148px;
  height: 105px;
}

.contacts {
  width: 240px;
  height: 98px;
  font-size: 18px;
  line-height: 24.3px;
}

.cover {
  position: relative;
  width: 100%;
  height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px;
  color: #FFFFFF;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #00000099;
  z-index: 1;
}

.cover-title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 385px;
  font-weight: 700;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30px;
}

.cover-title-element-1 {
  align-self: flex-start;
}

.cover-title-element-2 {
  align-self: center;
  width: 339px;
}

.cover-title-element-3 {
  align-self: flex-end;
  width: 387px;
}

.description {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 51px;
  margin-top: 106px;
  display: flex; 
  justify-content: space-between;
  font-size: 22px;
  text-transform: uppercase;
}

.description-text {
  width: 637px;
  height: 28px;
  text-align-last: justify;
  align-self: center;
}

.description-button {
  width: 256px;
  height: 51px;
  text-transform: uppercase;
  background: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.lots { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin:180px 24px 0;
  min-height: 723px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots-element {
  margin-left: 40px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  row-gap: 25px;
}
.card {
  display: flex;
  width: 334px;
  height: 596px;
  padding: 48px 40px 48px;
  background-size: cover;
  background-position: center;
}

.first-card {
  background-image: url(../images/card-lot-01.jpg);
  position: relative;
}

.second-card {
  background-image: url(../images/card-lot-02.jpg);
  position: relative;
}

.third-card {
  background-image: url(../images/card-lot-03.jpg);
  position: relative;
}

.card-content {
  height: 100%;
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 120%;
}

.card-text {
  font-size: 20px;
  line-height: 120%;
}

.lots-more {
  font-size: 20px;
}

.about {
  display: flex;
  margin:120px 24px 0;
  height: 595px;
  padding: 35px 0 13px 47px;
}

.logo-back {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.logo-white {
  align-self: center;
  width: 148px;
  height: 114px;
}

.about-content {
  align-self: flex-end;
  width: 693px;
  height: 449px;
  margin-left: 72px;
}

.about-content-title {
  margin-bottom: 100px;
}

.about-content-text {
  font-size: 20px;
  line-height: 24px;
  margin-top: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
  padding: 0 50px 0;
  width: 100%;
  height: 180px;
}

.contacts-top {
  width: 264.57px;
}

.nav-footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 48px;
}

.social-media-logo {
  width: 48px;
  height: 48px;
}
